blockquote {
	border-left-color: #A62023
}

img {
	position: relative;
	top: 3px
}

.img-thumbnail {
	padding: .25rem;
	background-color: #fff;
	border: 1px solid #dee2e6;
	border-radius: .25rem;
	max-width: 100%;
	height: auto
}
