body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto
}

input:focus {
	border-bottom: 1px solid #1B1A25 !important;
	box-shadow: 0 1px 0 0 #1B1A25 !important
}

input:not(.browser-default):focus:not([readonly])+label {
	color: #1B1A25 !important
}

input:not(.browser-default):focus.invalid~label {
	color: #F44336 !important
}

.dark-grey,
.dark-grey:hover,
.dark-grey:focus {
	background-color: #1B1A25 !important
}

.dark-grey-text {
	color: #1B1A25 !important
}

.red-color {
	background-color: #A62023 !important
}

.btn-green {
	background-color: #37ab52
}

.btn-green:hover {
	background-color: #1b9236
}

.btn-green:focus {
	background-color: #1b9236
}

.input-field .prefix.active {
	color: #1B1A25 !important
}

.mt-2 {
	margin-top: 10px
}

.mb-0 {
	margin-bottom: 0
}

.red-color-text {
	color: #a62023 !important
}

@media (max-width: 600px) {
	.card-panel {
		margin-top: 0;
		border-radius: 0
	}

	.container {
		width: 100%
	}

	.footer-copyright {
		padding-left: 10px !important;
		padding-right: 10px !important
	}
}

@media (min-width: 993px) {
	html::-webkit-scrollbar {
		width: 8px
	}

	html::-webkit-scrollbar-thumb {
		background-color: #1b1a25
	}

	html::-webkit-scrollbar-thumb:hover {
		background-color: #16151e
	}

	html::-webkit-scrollbar-track {
		background-color: #e0e0e0
	}
}
