.input-field {
    margin: 0
}

.btn-center {
    left: 50%;
    transform: translateX(-50%)
}

textarea {
    font-size: 20px;
    resize: none;
    white-space: nowrap;
    border-top: none;
    border-right: none;
    border-left: none;
    outline: none;
    border-radius: 3px;
    color: #333
}

input[type=number]:focus,
input[type=text]:focus {
    border-bottom: 1px solid #607d8b !important;
    box-shadow: 0 1px 0 0 #607d8b !important
}

[type=radio]:checked+span:after,
[type=radio].with-gap:checked+span:before,
[type=radio].with-gap:checked+span:after {
    border: 2px solid #607d8b
}

[type=radio]:checked+span:after,
[type=radio].with-gap:checked+span:after {
    background-color: #607d8b
}

[type=checkbox]:checked+span:not(.lever):before {
    border-right: 2px solid #607d8b;
    border-bottom: 2px solid #607d8b
}

[type=checkbox].filled-in:checked+span:not(.lever):after {
    border: 2px solid #607d8b;
    background-color: #607d8b
}

@media (min-width: 993px) {
    textarea {
        font-size: 25px
    }
}