html {
	font-family: Arial, sans-serif, Arial;
}

input:focus {
	border-bottom: 1px solid #1b1a25 !important;
	box-shadow: 0 1px 0 0 #1b1a25 !important
}

input:not(.browser-default):focus:not([readonly])+label {
	color: #1b1a25 !important
}

input:not(.browser-default):focus.invalid~label {
	color: #F44336 !important
}

i.material-icons {
	user-select: none !important;
	-webkit-user-select: none !important
}

.input-field .prefix.active {
	color: #1b1a25
}

.mt-2 {
	margin-top: 10px
}

.mb-0 {
	margin-bottom: 0
}

.btn-flat-hover:hover {
	cursor: text;
	background-color: unset
}

@media (max-width: 600px) {
	.card-panel {
		margin-top: 0;
		border-radius: 0
	}

	.container {
		width: 100%
	}
}
