body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto
}

input:focus {
	border-bottom: 1px solid #1b1a25 !important;
	box-shadow: 0 1px 0 0 #1b1a25 !important
}

input:not(.browser-default):focus:not([readonly])+label {
	color: #1b1a25 !important
}

input:not(.browser-default):focus.invalid~label {
	color: #F44336 !important
}

i.material-icons {
	user-select: none !important;
	-webkit-user-select: none !important
}

.input-field .prefix.active {
	color: #1b1a25
}

.mt-2 {
	margin-top: 10px
}

.mb-0 {
	margin-bottom: 0
}

.btn-flat-hover:hover {
	cursor: text;
	background-color: unset
}

.dark-grey,
.dark-grey:hover,
.dark-grey:focus {
	background-color: #1B1A25 !important
}

.dark-grey-text {
	color: #1B1A25 !important
}

.red-color {
	background-color: #A62023 !important
}

.red-color-text {
	color: #A62023 !important
}

[type=checkbox]:checked+span:not(.lever):before {
	border-right: 2px solid #1b1a25;
	border-bottom: 2px solid #1b1a25
}

[type=checkbox].filled-in:checked+span:not(.lever):after {
	border: 2px solid #1b1a25;
	background-color: #1b1a25
}

.mr-2 {
	margin-right: 10px
}

.red-color-text {
	color: #a62023 !important
}

@media (max-width: 600px) {
	.card-panel {
		margin-top: 0;
		border-radius: 0
	}

	.container {
		width: 100%
	}

	.footer-copyright {
		padding-left: 10px !important;
		padding-right: 10px !important
	}
}
