.input-field {
    margin: 0
}

.btn-center {
    left: 50%;
    transform: translateX(-50%)
}

textarea {
    font-size: 25px;
    resize: vertical;
    height: auto;
    border-top: none;
    border-right: none;
    border-left: none;
    outline: none;
    border-radius: 3px;
    color: #333;
    transition: background-color .15s, color .15s
}

input[type=number]:focus,
input[type=text]:focus {
    border-bottom: 1px solid grey !important;
    box-shadow: 0 1px 0 0 grey !important
}