.dropdown-content li>span {
    color: black
}

.btn-center {
    left: 50%;
    transform: translateX(-50%)
}

.card {
    padding: 1px 5px
}

.card i {
    cursor: pointer;
    transition: all .3s
}

.card i:hover {
    color: #1a237e
}