.dropdown-content li>span {
	color: black
}

.btn-center {
	left: 50%;
	transform: translateX(-50%)
}

.card {
	padding: 1px 10px
}

.card i {
	cursor: pointer;
	transition: all .3s
}

.card i:hover {
	color: #a62023
}

input:focus {
	border-bottom: 1px solid #1b1a25 !important;
	box-shadow: 0 1px 0 0 #1b1a25 !important
}

input::placeholder {
	color: rgba(0, 0, 0, .4)
}

input:not(.browser-default):focus:not([readonly])+label {
	color: #1b1a25 !important
}

input:not(.browser-default):focus.invalid~label {
	color: #F44336 !important
}
