.input-field {
	margin: 0
}

.btn-center {
	left: 50%;
	transform: translateX(-50%)
}

input[type=text]:focus {
	border-bottom: 1px solid #1a237e !important;
	box-shadow: 0 1px 0 0 #1a237e !important
}

input[type=text]::placeholder {
	color: rgba(0, 0, 0, .4)
}

.datepicker-date-display {
	background-color: #1a237e
}

.datepicker-day-button:focus {
	color: white !important;
	background-color: #1a237e
}

.datepicker-done,
.datepicker-cancel,
.timepicker-close {
	color: #1a237e !important
}

.select-dropdown li>span {
	color: black
}

.select-dropdown li.selected>span {
	color: #1a237e;
	background-color: rgb(238, 238, 238)
}

.is-today {
	color: #2196f3 !important
}

td.is-selected,
.month-prev:active,
.month-prev:focus,
.month-next:active,
.month-next:focus,
.month-prev:active svg,
.month-prev:focus svg,
.month-next:active svg,
.month-next:focus svg,
.timepicker-digital-display {
	background-color: #1a237e !important;
	fill: white
}

td.is-selected.is-today {
	color: white !important
}

.timepicker-canvas-bg,
.timepicker-canvas-bearing {
	fill: white !important
}

.timepicker-canvas line {
	stroke: #1a237e
}

.timepicker-tick:hover {
	background-color: white
}

.datepicker-controls .select-month input {
	width: 80px
}
