.input-field {
	margin: 0
}

.btn-center {
	left: 50%;
	transform: translateX(-50%)
}

textarea {
	font-size: 20px;
	resize: vertical;
	min-height: 200px;
	border-top: 0;
	border-right: 0;
	border-bottom: .5px solid rgb(190, 190, 190);
	border-left: 0;
	outline: none;
	color: #333
}

input[type=number]:focus {
	border-bottom: 1px solid #1b1a25 !important;
	box-shadow: 0 1px 0 0 #1b1a25 !important
}

input[type=number]::placeholder {
	color: rgba(0, 0, 0, .4)
}

[type=radio]:checked+span:after,
[type=radio].with-gap:checked+span:before,
[type=radio].with-gap:checked+span:after {
	border: 2px solid #1b1a25
}

[type=radio]:checked+span:after,
[type=radio].with-gap:checked+span:after {
	background-color: #1b1a25
}

@media (min-width: 993px) {
	textarea {
		font-size: 25px
	}
}
