.input-field {
	margin: 0
}

.equal {
	font-size: 30px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%)
}

input[type=number]:focus,
input[type=text]:focus {
	border-bottom: 1px solid #1b1a25 !important;
	box-shadow: 0 1px 0 0 #1b1a25 !important
}

.dropdown-content li>span {
	color: black
}
