.input-field {
	margin: 10px 0
}

h5 {
	margin-bottom: 20px
}

textarea {
	font-size: 25px;
	resize: vertical;
	min-height: 200px;
	overflow-y: scroll;
	border: .5px solid rgb(190, 190, 190);
	outline: 0;
	color: #333;
	transition: border-top .2s, border-bottom .2s, border-left .2s, background-color .2s
}

textarea:focus {
	border: .5px solid rgb(73, 73, 73);
	background-color: rgb(230, 230, 230)
}

textarea::placeholder {
	transition: color .2s
}

textarea:focus::placeholder {
	color: grey
}

label.active {
	color: #607d8b !important
}

input[type=text]:focus,
input[type=email]:focus {
	border-bottom: 1px solid #607d8b !important;
	box-shadow: 0 1px 0 0 #607d8b !important
}

@media (min-width: 600px) {
	textarea {
		border-right: 0
	}

	textarea:focus {
		border-right: 0
	}
}

@media (min-width: 993px) {
	textarea {
		font-size: 25px
	}
}
