.input-field {
    margin: 10px 0
}

h5 {
    margin-bottom: 20px
}

textarea {
    font-size: 25px;
    resize: vertical;
    min-height: 200px;
    overflow-y: scroll;
    border: .5px solid rgb(190, 190, 190);
    outline: none;
    color: #333;
    transition: all .2s, height 0s
}

textarea:focus {
    border: .5px solid rgb(73, 73, 73);
    background-color: rgb(230, 230, 230)
}

textarea:focus::placeholder {
    color: grey
}

label.active {
    color: #607d8b !important
}

input[type=text]:focus,
input[type=email]:focus {
    border-bottom: 1px solid #607d8b !important;
    box-shadow: 0 1px 0 0 #607d8b !important
}

@media (min-width: 993px) {
    textarea {
        font-size: 25px
    }
}