.input-field {
	margin: 0
}

.equal {
	font-size: 30px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%)
}

input[type=number]:focus, input[type=text]:focus {
	border-bottom: 1px solid #1a237e !important;
	box-shadow: 0 1px 0 0 #1a237e !important
}

.dropdown-content li>span {
	color: #607d8b
}

.dropdown-content li.selected>span {
	color: black
}
