.input-field {
	margin: 0
}

.btn-center {
	left: 50%;
	transform: translateX(-50%)
}

input[type=number]:focus,
input[type=text]:focus {
	border-bottom: 1px solid #1a237e !important;
	box-shadow: 0 1px 0 0 #1a237e !important
}

.dropdown-content li>span {
	color: black
}

.select-wrapper input.select-dropdown:focus {
	border-bottom: 1px solid #607d8b !important
}

.dropdown-content li>span {
	color: black
}

.card {
	padding: 1px 5px
}

.card i {
	cursor: pointer;
	transition: all .3s
}

.card i:hover {
	color: #1a237e
}
