.input-field {
	margin: 0
}

.btn-center {
	left: 50%;
	transform: translateX(-50%)
}

[contenteditable=false] {
	cursor: text;
	font-size: 20px;
	resize: none;
	border-top: 0;
	border-right: 0;
	border-bottom: .5px solid rgb(190, 190, 190);
	border-left: 0;
	padding-bottom: 5px;
	outline: none;
	color: #333
}

[contenteditable=false]:empty:before {
	content: attr(placeholder);
	color: rgb(201, 201, 201);
	display: block
}

input[type=number]:focus {
	border-bottom: 1px solid #1a237e !important;
	box-shadow: 0 1px 0 0 #1a237e !important
}

input[type=number]::placeholder {
	color: rgba(0, 0, 0, .4)
}

@media (min-width: 993px) {
	[contenteditable=false] {
		font-size: 25px
	}
}
