.input-field {
  margin: 0
}

.mb-0 {
  margin-bottom: 0
}

.btn-center {
  left: 50%;
  transform: translateX(-50%)
}

#areaResult {
  font-size: 20px;
  resize: none;
  white-space: nowrap;
  border-top: none;
  border-right: none;
  border-left: none;
  outline: none;
  border-radius: 3px;
  color: #333
}


input[type=number]:focus,
input[type=text]:focus {
  border-bottom: 1px solid #607d8b !important;
  box-shadow: 0 1px 0 0 #607d8b !important
}

[type=radio]:checked+span:after,
[type=radio].with-gap:checked+span:before,
[type=radio].with-gap:checked+span:after {
  border: 2px solid #607d8b
}

[type=radio]:checked+span:after,
[type=radio].with-gap:checked+span:after {
  background-color: #607d8b
}

[type=checkbox]:checked+span:not(.lever):before {
  border-right: 2px solid #607d8b;
  border-bottom: 2px solid #607d8b
}

[type=checkbox].filled-in:checked+span:not(.lever):after {
  border: 2px solid #607d8b;
  background-color: #607d8b
}

.card {
  transform: translateX(10px);
  margin-right: 30px;

}

#result {
  margin: 0;
}

.copycontent {
  margin-top: 5px;
  margin-bottom: 5px
}

.select-wrapper ul li>span {
  color: black
}

.select-wrapper input.select-dropdown:focus {
  border-bottom: 1px solid #607d8b !important
}

@media (min-width: 993px) {
  #areaResult {
    font-size: 25px
  }

  .card {
    margin-right: 40px;
    transform: translateX(30px)
  }
}