input:focus {
	border-bottom: 1px solid #1B1A25 !important;
	box-shadow: 0 1px 0 0 #1B1A25 !important
}

input:not(.browser-default):focus:not([readonly])+label {
	color: #1B1A25 !important
}

input:not(.browser-default):focus.invalid~label {
	color: #F44336
}

.input-field .prefix.active {
	color: #1B1A25 !important
}

.dropdown-content li>span {
	color: black
}

table {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 16px
}

table th {
	color: #676767
}

@media (max-width: 600px) {
	.modal {
		width: 98%
	}
}
