@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2')
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased
}

body {
  height: 100%;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  animation-fill-mode: forwards;
  animation-delay: 300ms;
  transition: padding-left 300ms
}

main {
  flex: 1 0 auto
}

.flow-text {
  margin-top: 5px
}

.collapsible-header,
.collapsible-body,
.btn {
  user-select: none !important;
  -webkit-user-select: none !important
}

.padding-headers .collapsible-header {
  padding: 0 35px !important
}

.padding-headers .collapsible-body a {
  text-transform: unset !important
}

.collapsible-header:target {
  background-color: red
}

.sidenav.collapsible>li.active {
  background-color: #e6e6e6
}

.collapsible-body a {
  height: 35px;
  width: 100%
}

.padding-headers .collapsible-body {
  padding: 0 8.5px
}

.sidenav {
  height: 100% !important
}

#spinner {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%)
}

@media (min-width: 0px) {
  .container {
    width: 100%
  }
}

@media (min-width: 601px) {
  .container {
    width: 95%
  }
}

@media (min-width: 993px) {
  body {
    padding-left: 300px
  }

  .container {
    width: 85% !important
  }
}

@media (min-width: 1024px) {
  ::-webkit-scrollbar {
    width: 5px;
    height: 5px
  }

  ::-webkit-scrollbar-thumb {
    background-color: rgb(104, 104, 104);
    border-radius: 8px
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: rgb(66, 66, 66)
  }

  ::-webkit-scrollbar-track {
    background-color: #ccc
  }
}

@media (min-width: 1200px) {
  .container {
    width: 70%
  }
}