.shadow {
	display: none
}

@media (min-width: 600px) {
	.shadow-container {
		position: relative;
		cursor: pointer
	}

	.shadow {
		display: block;
		border-radius: 50%;
		width: 100%;
		height: calc(100% - 6px);
		position: absolute;
		opacity: 0;
		background-color: rgba(0, 0, 0, .5);
		transition: opacity .5s
	}

	.shadow:hover {
		opacity: 1
	}

	.shadow p {
		font-size: 13px;
		font-weight: 800;
		margin: 0;
		white-space: nowrap;
		color: white;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%)
	}
}
