.no-select {
	user-select: none;
	-ms-user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none
}

.no-break {
	white-space: nowrap
}

@media (min-width: 600px) {
	.card-content {
		min-height: 155px
	}
}
