.indicators .active {
	background-color: #1a237e !important
}

.slides li {
	border: 1px solid rgb(180, 180, 180)
}

.card-panel {
	padding-bottom: 6px !important
}

.mb-1 {
	margin-bottom: 5px
}

@media (max-width: 600px) {
	.card-panel {
		padding-left: 5px;
		padding-right: 5px
	}
}

@media (min-width: 600px) {
	.card * {
		user-select: none !important;
		-moz-user-select: none !important;
		-webkit-user-select: none !important
	}
}
