blockquote {
	border-left-color: #A62023
}

blockquote img {
	position: relative;
	top: 3px
}

.img-thumbnail {
	padding: .25rem;
	background-color: #fff;
	border: 1px solid #dee2e6;
	border-radius: .25rem;
	max-width: 100%;
	height: auto
}

.caption h5,
.caption h3 {
	background-color: rgba(0, 0, 0, .3);
	border-radius: 10px;
	padding: 0 10px
}

.caption .material-icons.right {
	font-weight: 1000
}

.indicators .active {
	background-color: #1B1A25 !important
}

li.indicator-item {
	border: 1px solid #1B1A25
}

.slider {
	font-family: serif
}

@media (max-width: 600px) {
	.card-panel {
		padding-left: 5px;
		padding-right: 5px
	}
}
