blockquote {
	border-left-color: #a62023
}

blockquote img {
	position: relative;
	top: 3px
}

.img-thumbnail {
	padding: 0.25rem;
	background-color: #fff;
	border: 1px solid #dee2e6;
	border-radius: 0.25rem;
	max-width: 100%;
	height: auto
}

.caption h5,
.caption h3 {
	border-radius: 10px;
	padding: 10px
}

.indicators .active {
	background-color: #1b1a25 !important
}

li.indicator-item {
	border: 1px solid #1b1a25
}

.slider {
	font-family: serif
}

@media (max-width: 767px) {
	.light {
		display: none
	}
}

@media (max-width: 600px) {
	.card-panel {
		padding-left: 5px;
		padding-right: 5px
	}

	.light {
		display: block
	}

	.dark {
		display: none
	}
}
