@font-face {
	font-family: 'Material Icons';
	font-style: normal;
	font-weight: 400;
	src: url(flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2')
}

.material-icons {
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 24px;
	line-height: 1;
	letter-spacing: normal;
	text-transform: none;
	display: inline-block;
	white-space: nowrap;
	word-wrap: normal;
	direction: ltr;
	-webkit-font-feature-settings: 'liga';
	font-feature-settings: 'liga';
	-webkit-font-smoothing: antialiased
}

body {
	font-family: sans-serif, Arial;
	height: 100%;
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	transition: padding-left 300ms
}

#menu {
	outline: 0
}

nav,
main,
footer,
ul#slide-out,
.fixed-action-btn {
	opacity: 0;
	transition: opacity 150ms !important
}

.slider {
	font-family: serif
}

main {
	flex: 1 0 auto
}

.mb-2 {
	margin-bottom: 10px
}

.mt-2 {
	margin-top: 10px
}

.ml-4 {
	margin-left: 20px
}

.mt-0 {
	margin-top: 0
}

.mb-0 {
	margin-bottom: 0 !important
}

.collapsible-header,
.collapsible-body,
.btn {
	user-select: none !important;
	-webkit-user-select: none !important
}

.collapsible-header {
	border-bottom: 1px solid #e0e0e0 !important
}

/* body>header+ul>li:nth-child(2) {
	border-top: 1px solid #e0e0e0 !important
} */

body>header+ul>li>.collapsible-header {
	padding-left: 8px !important
}

.active>.collapsible-header {
	border-bottom: 0 !important
}

.padding-headers .collapsible-header {
	padding: 0 31px !important
}

.padding-headers .collapsible-body a {
	text-transform: unset !important
}

.sidenav.collapsible>li.active {
	background-color: #e6e6e6
}

.collapsible-body a {
	margin-bottom: 1px;
	border: 1px solid #e0e0e0
}

.collapsible-body a i {
	margin-right: 4px !important
}

.padding-headers .collapsible-body {
	padding: 0
}

.sidenav {
	height: 100vh !important;
	padding-bottom: 0
}

.collapsible {
	padding-top: 0 !important
}

#spinner {
	transition: opacity .2s;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%)
}

.spinner-layer {
	border-color: #1a237e
}

.card-panel {
	margin-top: 14px
}

@media (max-width: 600px) {
	.container {
		width: 100%
	}
}

@media (min-width: 601px) {
	.container {
		width: 90% !important
	}

	/* .top-div {
		width: 100%;
		height: 9px;
		top: 0;
		border-top-left-radius: 2px;
		border-top-right-radius: 2px
	}

	.right-div {
		position: absolute;
		width: 9px;
		height: 100%;
		top: 0;
		right: 0;
		border-top-right-radius: 2px;
		border-bottom-right-radius: 2px
	}

	.bottom-div {
		width: 100%;
		height: 9px;
		bottom: 0;
		border-bottom-left-radius: 2px;
		border-bottom-right-radius: 2px
	} */

	.left-div {
		width: 9px;
		height: 100%;
		top: 0;
		border-top-left-radius: 2px;
		border-bottom-left-radius: 2px
	}

	.top-div,
	.bottom-div,
	.left-div {
		left: 0;
		position: absolute
	}

	.left-div-margin {
		padding-left: 28.5px
	}

	.card-panel {
		position: relative !important
	}

	.linkHover:hover {
		text-decoration: underline
	}
}

@media (min-width: 993px) {
	body {
		padding-left: 300px
	}

	.sidenav::-webkit-scrollbar {
		width: 5px;
		height: 5px
	}

	.sidenav::-webkit-scrollbar-thumb {
		background-color: #1a237e;
		border-radius: 8px
	}

	.sidenav::-webkit-scrollbar-track {
		background-color: #e0e0e0
	}
}

@media (max-width: 992px) {
	* {
		cursor: default !important
	}
}
