@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2')
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased
}

body {
    font-family: sans-serif, Arial;
    height: 100%;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    transition: padding-left 300ms
}

#menu {
    outline: 0
}

header,
main,
footer,
ul#slide-out,
.fixed-action-btn {
    opacity: 0;
    transition: opacity 150ms
}

.slider {
    font-family: serif
}

main {
    flex: 1 0 auto
}

footer {
    border-top: 1px solid #e0e0e0
}

.mt-2 {
    margin-top: 10px
}

.mb-0 {
    margin-bottom: 0
}

.collapsible-header,
.collapsible-body,
.btn {
    user-select: none !important;
    -webkit-user-select: none !important
}

.collapsible-header {
    border-bottom: 1px solid #e0e0e0 !important
}

body>header+ul>li:nth-child(2) {
    border-top: 1px solid #e0e0e0 !important
}

body>header+ul>li>.collapsible-header {
    padding-left: 8px !important
}

.active>.collapsible-header {
    border-bottom: 0 !important
}

.padding-headers .collapsible-header {
    padding: 0 31px !important
}

.padding-headers .collapsible-body a {
    text-transform: unset !important
}

.sidenav.collapsible>li.active {
    background-color: #e6e6e6
}

.collapsible-body a {
    height: 35px;
    width: 100%
}

.padding-headers .collapsible-body {
    padding: 0 8.5px
}

.sidenav {
    height: 100% !important
}

#spinner {
    transition: opacity .2s;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%)
}

.spinner-layer {
    border-color: #7a7a7a
}

@media (min-width: 0px) {
    .container {
        width: 100%
    }
}

@media (min-width: 601px) {
    .container {
        width: 95%
    }
}

@media (min-width: 993px) {
    body {
        padding-left: 300px
    }

    .container {
        width: 85% !important
    }

    .sidenav::-webkit-scrollbar {
        width: 5px;
        height: 5px
    }

    .sidenav::-webkit-scrollbar-thumb {
        background-color: rgb(104, 104, 104);
        border-radius: 8px
    }

    .sidenav::-webkit-scrollbar-thumb:hover {
        background-color: rgb(66, 66, 66)
    }

    .sidenav::-webkit-scrollbar-track {
        background-color: #ccc
    }
}

@media (max-width: 992px) {
    * {
        cursor: default !important
    }
}