textarea {
    font-size: 25px;
    resize: vertical;
    min-height: 150px;
    overflow-y: scroll;
    border: 0.5px solid grey;
    outline: none;
    border-radius: 3px;
    color: #333;
    transition: background-color .15s, color .15s
}

textarea:focus {
    background-color: rgb(230, 230, 230)
}

textarea:focus::placeholder {
    color: grey
}