.input-field {
    margin: 0
}

.btn-center {
    left: 50%;
    transform: translateX(-50%)
}

.mt-0 {
    margin-top: 0
}

.mb-0 {
    margin-bottom: 0
}

textarea {
    font-size: 20px;
    resize: none;
    white-space: nowrap;
    border-top: none;
    border-right: none;
    border-left: none;
    outline: none;
    color: #333
}

input[type=number]:focus {
    border-bottom: 1px solid #607d8b !important;
    box-shadow: 0 1px 0 0 #607d8b !important
}

@media (min-width: 993px) {
    textarea {
        font-size: 25px
    }
}